<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Guanyi Chen's Homepage</title>
    <link rel="icon" href="http://s9.rr.itc.cn/r/wapChange/201610_11_18/a02umu4350716135.jpeg" type="image/x-icon"/>

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
	<a href="https://bulbapedia.bulbagarden.net/wiki/Cloyster_(Pok%C3%A9mon)"><img src="assets/img/icon/6829836.jpeg" alt=""/></a>
        <h1>Guanyi Chen</h1>
        <p>I am a PhD student in <a href="https://www.abdn.ac.uk/ncs/departments/computing-science/natural-language-generation-187.php">CLAN</a>&#44; University of Aberdeen&#44; working on Natural Language Generation. I am supervised by <a href="http://homepages.abdn.ac.uk/k.vdeemter/pages">Prof. Kees van Deemter</a> and <a href="https://chenghualin.wordpress.com/">Dr. Chenghua Lin</a>.</p>

	<span class="glyphicon glyphicon-envelope"></span> <a href="mailto:g.chen@abdn.ac.uk">g.chen@abdn.ac.uk</a></br>

        <a href="http://github.com/a-quei">
        	<img src="assets/img/icon/github_icon.png" alt=""/> Github
        </a></br>
	<span class="glyphicon glyphicon-file"></span> <a href="{{ site.baseurl }}{% link /assets/file/guanyi_cv.pdf %}">Curriculum Vitae</a></br>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">aquei</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
