<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>TOEAT</title>
    <link rel="icon" href="http://s9.rr.itc.cn/r/wapChange/201610_11_18/a02umu4350716135.jpeg" type="image/x-icon"/>

{% seo %}

    <style type="text/css">
      .post-container {
    margin: 20px 20px 0 0;  
    overflow: auto
    }
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 20px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}
    </style>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
     <div class="wrapper">
     <h2><center>TOEAT List</center></h2>
<br />
      {{ content }}
</div>

    </section>
    <footer>
     <p>This page is maintained by <a href="{{ site.github.owner_url }}">aquei</a></p>
     <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
